	/* Margenes de secciones */
	body{
		width: 100%;
		background: rgb(145,109,255);
		background: linear-gradient(109deg, rgba(145,109,255,1) 0%, rgba(151,203,255,1) 94%);
	}

	/* Delimitar secciones*/

	nav{
		height: 10%;
	}
	section{
		height: 35%;
		width: 100%;
	}
	footer{
		height: 55%;
		background-color: rgb(40,43,51);
	}


	/* Parte para definir atributos del nav */

	.active{
		background-color: rgb(145,109,255);
		border-radius: 25px;
	}
	.nav-item{
		margin-top: 1%;
		margin-left: 0.5%;
		
	}
	.navbar-nav{
		margin-left: 2%;
		margin-right: 2%;
		margin-top: 2%;
	}

	#A{
		width: 50px;
		height: 50px;
		font-size: 31px;
	}
	#A span{
		padding: 26%;
		color : white ;
		font-family: Lato;
	}

	a{
		color : white;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
	}

	.circle{
		margin-top: 50%;
		width: 22px;
		height: 22px;
		left: 1742px;
		background-color: white;
	}

	/* Seccion   */
	.container{
	}

	select{
		text-align-last: center;
		background-color: white;
		border : 1px solid white;
		border-radius: 5px;
	}
	#cont-1{
		padding-top: 1%;
		padding-bottom: 1%;
		border-radius: 10px;
		background-color: rgb(248,248,248);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	}
	#cont-2{
		padding-top: 1%;
		padding-bottom: 1%;
		border-radius: 10px;
		background-color: rgb(40,42,51);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	}
	img{
		margin-top: -5%;
	}
 	p{
 		margin-left: 10%;
 		width: 600px;
		overflow: visible;
		line-height: 22px;
		text-align: left;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(188,188,188,1);
 	}
	#input_text{

 		text-align: right;
		font-family: Lato;
		font-style: italic;
		font-weight: normal;
		font-size: 12px;
		color: rgba(188,188,188,1);
 	}

 	.btn-primary{
 		border:1px solid white;
 		background-color: white;
 		color: black;
 		font-size: 15px;
 		font-weight: bold;
 	}
 	textarea{
 		resize: none;
 		border-radius: 10px;	
 		background: none;
		height: 15em;
		width: 100%;
 		background-color:rgba(248,248,248,1);
 		overflow: visible;
		white-space: nowrap;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		padding: 10px;
		color: rgba(123,123,123,1);
		border-color: rgba(248,248,248,1);
 	}
 	#map{
 		border : 1px solid rgb(40,42,51);;
 		background-color: rgb(40,42,51);
 	}


 	/*Pop Menu */

 	.pop_menu{
		opacity: 0;
		position: absolute;
		background-color: white;
	
		margin-top: -36%;
		margin-left: 10%;
		border-radius: 10px;
		background: linear-gradient(41deg, rgba(245,245,245,1) 35%, rgba(219,219,219,1) 100%);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	ul li {
	  display:inline-block;
	  list-style-type: none;
	  text-align: left;
	}	