<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>
<script type="text/javascript" src="/static/js/popper.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>	
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
<head>
	<title>Athengun</title>
</head>

<div id="fondo"></div>
<body>

	<!--- Navegacion --->
	<nav class="navbar navbar-expand-lg navbar-dark ">
			<div class="collapse navbar-collapse">
				<!--- Circulo con la letra --->
				<ul class="navbar-nav ">
					<li class="nav-item" >
						<div class="rounded-circle" id="A"><span>A</span></div>
					</li>
				</ul>
				<!--- Items de la navbar --->
				<ul class="navbar-nav w-100">
					<li class="nav-item ml-auto">
						<a id="btn-dic" class="nav-link text-light">Diccionario</a>
					</li>
					<li class="nav-item">
						<a id="btn-help" class="nav-link text-light">Ayuda</a>
					</li>
					<li class="nav-item">
						<a id="btn-proyect" class="nav-link text-light">El proyecto</a>
					</li>
				<!--- Circulos blancos --->
					<li class="nav-item" id="circulo">
						<div class="circle rounded-circle"></div>
					</li>
					<li class="nav-item" id="circulo">
						<div class="circle rounded-circle"></div>
					</li>
					<li class="nav-item" id="circulo">
						<div class="circle rounded-circle"></div>
					</li>
				</ul>
			</div>
	</nav>		
	<!---Section-->
	<section>

			<div id="contenedor" class="row">
				<!--- Div que contendra la parte dede se realizan traducciones --->
				<div  id="cont_form" class="col-5">
					
					<div class="row">

						<div class="col-10">
							<span id="e_idiomas">Elige idiomas</span>
						</div>
						<div class="col-10">
							<br>
						</div>
						<div class="col-10">
						 	<div class="row">
						 		<div class="col-4">
						 			<select id="idm_sel">
										<option selected>Español</option>
										<!--<option>Mapudungun</option>-->
									</select>		
						 		</div>
						 		<div class="col-1">
						 			<h5>></h5>
						 		</div>
						 		<div class="col-4">
									<select id="map_sel">
										<!--<option>Español</option>-->
										<option selected>Mapudungun</option>
									</select>
						 		</div>
						 		<div class="col-2">
						 			
									<div id="input_text">
										<span >Añadir archivo a traducir </span>
									</div>
						 		</div>
						 		<input type="file" id="file" accept=".txt" > 
						 		<div class="col-1">
						 			<label  id="btn" class="btn btn-primary rounded-circle" for="file">+</label>
						 		</div>

						 	</div>								
						 </div>

						<div class="col-10">
							<br>
						</div>
						<div class="col-10">
						 	<textarea id="textIdioma"placeholder="Texto a traducir" ></textarea>
						</div>
						<div class="col-10">
							<br>
						</div>
						<div class="col-10">
						 	<textarea  id="map" placeholder="Mapudungun" 	></textarea>
						</div>
					</div>
				</div>
				<!-- Div que contendra la imagen que se actualiza -->
				<div id="cont_img" class="col-5">
					<img >
						<p id="descripcion"></p>
				</div>
			</div>
					<!--- Ventanas emergentes --->
	<div class="pop_menu">
		
		<div class="container">
			<div class="row">
				<div class="col-12">
					<br>
				</div>
				<div class="col-12">
					<div class="card" id="card-buscar">
						  <div class="card-body" >
			    				<h5 class="card-title">Buscar Palabra </h5>
			    				<hr>
			    				<!---<p class="card-text">AQUI SE MOSTRARAN LAS TRADUCCIONES ANTERIORES</p>--->
			    				<div class="row" >
			    					<div class="col-6 col-lg-2" id="card-form" >
			    						<select id="dic_sel"class="form-control">
			    							<option value="1">Español</option>
			    							<option value="2">Mapudungun</option>
			    						</select>
			    					</div>
			    					<div class="col-7" >
			    						<input id="input" type="text" class="form-control" name="palabra" placeholder="Palabra a buscar ">
			    					</div>
			    				</div>
			  			  </div>
					</div>
				</div>
		
				<div class="col-12">
					<br>
				</div>		
				<div class="col-12" id="busquedas">
						
					<!----- Contenedor de input para buscar palabras --->
					<div class="card" >
						  <div class="card-body">
			    				<h5 class="card-title">Palabras Existentes </h5>
			    				<hr>
			    				
			    				<div class="row" >
			    					<ul class="col-10" align="left" style="list-style: none ; font-size: 20px; color: #27BBFF" >
			    						{% for 	letra in letras%}
			    						<li class="li"> {{letra}}</li>
			    						{% endfor %}
			    					</ul>
			    					<div class="col-20" id="mostrar" style="overflow-y:scroll;width: 100% ; height: 400px">
			    						<table  class="table table-responsive table-striped">
			    							<thead>
			    								<tr>
			    									<th scope="col">Palabra</th>
			    									<th scope="col">Traduccion</th>
			    								</tr>
			    							</thead>
			    							<tbody id="data">
			    							</tbody>
			    						</table>

			    					</div>



			    				</div>
			  			  </div>
					</div>
				</div>

			</div>			
		</div>

	</div>
	</section>
	<!--Franja negra -->
	<footer>
		<div id="franja"></div>
	</footer>
	




</body>

</html>